header {
	text-align: center;
	font-size: 50px;
}

#Grade {
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}

#class {
	text-align: center;
	font-style: bold;
	font-size: 25px;
}

li {
	font-size: 17px;
	text-indent: 50px;
	font-style: italic;
}

div {
   margin-bottom: 10px;
}
